.hover-state {
  stroke: black;
  stroke-opacity: 0;
  fill-opacity: 0;

  &:hover {
    stroke-opacity: 1;
  }
}

.state {
  stroke: #d3d3d3;
  stroke-width: 0.5;
}

.state-shadow {
  fill-opacity: 0.4;
}

.title-container {
  display: flex;

  #viz-title {
    float: left;
    margin-left: 25px;
    margin-bottom: -5px;
    width: 85%;
  }

  #export-button {
    width: 50px;
    right: 0;
  }
}
#viz-subtitle {
  margin-left: 25px;
  margin-top: 0;
}
