.listVizWrapper {
  flex: 1;
  margin: 16px 20px 8px;
  position: relative;
  padding-bottom: 40px;
  height: 100%;

  table {
    width: 100%;
    margin-top: 16px;
    border-collapse: collapse;
    border-spacing: 0;

    thead {
      border-bottom: solid 1px;
    }

    thead::after {
      height: 0.5em;
      display: table-row;
      content: '';
    }

    th {
      font-size: 10px;
      text-align: left;
    }

    tbody::before {
      height: 0.5em;
      display: table-row;
      content: '';
    }

    td {
      height: 20px;
      text-align: left;
      font-size: 12px;
    }

    .td_value {
      width: 80%;
    }

    .td_index {
      width: 20%;
      text-align: right;
    }
  }
}

.viz-title {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}

.viz-subtitle {
  display: block;
  width: 100%;
  font-size: 13px;
}

.checkbox-group{
  display: block;
  position: relative;
  padding-left: 20px;
  font-size: 12px;
}
